{% load django_bootstrap5 %}
{% load static %}
<html lang="en">
<head>
    {% bootstrap_css %}
    <meta charset="UTF-8">
    <title>Agregar Producto</title>
    <link rel="stylesheet" type="text/css" href="{% static 'agregar.css' %}">
</head>
<body>
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="form-container d-flex justify-content-center">
            <form class="container-select d-flex flex-column" method="POST">
                {% csrf_token %}
                <div class="d-flex justify-content-center align-items-center">
                    <select name="txtProveedor" >
                        <option selected="true" disabled="disabled">Seleccione proveedor</option>
                    {% for proveedor in proveedores %}
                        <option value="{{proveedor.id}}">{{proveedor.razon_social}}</option>
                    {% endfor %}
                    </select>
                    <button type="button" class="btn btn-dark">
                        <a href="http://127.0.0.1:8000/compras/proveedores/agregar/">+</a>
                    </button>
                </div>

                <p>Nombre:</p>
                <input type="text" name="txtNombre">
                <p>Precio:</p>
                <input type="number" name="nmbPrecio">
                <p>Stock Actual:</p>
                <input type="number" name="nmbStock">
                <p>Proveedor</p>
                <input type="submit" class="btn btn-dark">
            </form>
        </div>
        <button type="button" class="btn btn-dark" id="boton-retorno">
            Volver atrás
        </button>
        </div>
</body>
{% bootstrap_javascript %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    var botonRetorno = document.getElementById('boton-retorno');
    botonRetorno.addEventListener('click', function() {
        window.history.back();
    });
});
</script>

</html>
