<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <p>Razon social:</p>
        <input type="text" name="txtRazon">
        <p>CUIT:</p>
        <input type="text" name="nmbCuit">
        <p>Celular:</p>
        <input type="text" name="nmbCel">
        <input type="submit" class="btn btn-primary">
    </form>
    <button onclick="cerrarVentana()">Guardar cambios</button>

</body>
<script>
    function cerrarVentana() {
        // Cerrar la ventana actual
        window.close();
    }
</script>
</html>