<!DOCTYPE html>
{% load django_bootstrap5 %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proveedores</title>
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'listas.css' %}">
</head>
<body>
    <button type="button" class="btn btn-warning">
        <a href="http://127.0.0.1:8000/compras/proveedores/agregar/">Agregar nuevo proveedor</a>
    </button>
    <button type="button" class="btn btn-dark">
        <a href="http://127.0.0.1:8000/compras/productos/listado">Lista de productos</a>
    </button>

    <div class="container d-flex flex-column">

        <div class="table-header d-flex flex-row justify-content-around">
            <p class="col-1">ID</p>
            <p class="col-2">Razon social</p>
            <p class="col-2">CUIT</p>
            <p class="col-2">Celular</p>
            <p class="col-1"></p>
        </div>

        {% for proveedor in proveedores %}
            <hr size="10">
            <div class="product-container d-flex flex-row justify-content-around">
                <p class="col-1">{{proveedor.id}}</p>
                <p class="col-2">{{proveedor.razon_social}}</p>
                <p class="col-2">{{proveedor.cuit}}</p>
                <p class="col-2">{{proveedor.celular}}</p>
                <div class="col-1">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="proveedor_id" value="{{ proveedor.id }}">
                        <input type="submit" value="Eliminar">
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
{% bootstrap_javascript %}
</html>
